@import "src/stylesmixins";
table.reportNoteTable{
  margin-top: 10px;
  width: 100%;
  border-spacing: 0;

  .reportNoteHead {
    width: 100%;
    tr{
      width: 100%;
      th{
        width: 100%;
        padding-bottom: 10px;
        font-size: 20px;
        text-align: start;
        color: #195375;
      }
    }
  }

  tbody.reportNoteBody {
    tr {
      width: 100%;
      cursor: pointer;
      &:hover{
        @include selectGreenBg;
        td{
          color: white;
        }
      }
      td {
        width: auto;
        font-size: 12px;
        //max-width: 100px;
        //border: 0.3px solid #06263C;
        background-color: #eaeaea;
        padding: 5px 20px;
        text-align: start;
        @include navyFont;
        color: white;
        overflow: scroll;
        scrollbar-base-color: transparent;
        scrollbar-track-color: transparent;
        scrollbar-arrow-color: transparent;
        scrollbar-face-color: transparent;
      }
      td:nth-child(1){
        min-width: 60px;
        color: black !important;
      }
      td:nth-child(2){
        width: 100%;
        @include navyFont;
      }
      body{ -ms-overflow-style: none; }
      ::-webkit-scrollbar { display: none; }
    }
  }
}
