@import "src/stylesmixins";
div.reportResultContainer{
  div.reportResultText{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    @include navyFont;
  }
  div.reportResultTextBox{
    background-color: #eaeaea;
    @include navyFont;
    padding: 20px;
  }

  table.reportResultTable{
    margin-top: 10px;
    width: 100%;
    border: 0.3px solid #195375;
    border-spacing: 0;

    thead.reportResultHead {
      color: white;
      width: 100%;
      background-color: #195375;
      tr{
        width: 100%;
        th{
          border: 0.3px solid #195375;
          width: 100%;
          min-width: 80px;
          //font-size: 20px;
          text-decoration: none;
          text-align: start;
          padding-left: 5px;
        }
      }
    }

    tbody.reportResultBody {
      tr {
        width: 100%;
        cursor: pointer;
        &:hover{
          @include selectGreenBg;
          td{
            color: white;
          }
        }
        td {
          width: auto;
          font-size: 12px;
          border: 0.3px solid #195375;
          padding: 5px 20px;
          text-align: start;
          //color: white;
          @include navyFont;
          overflow: scroll;
          scrollbar-base-color: transparent;
          scrollbar-track-color: transparent;
          scrollbar-arrow-color: transparent;
          scrollbar-face-color: transparent;
        }
        body{ -ms-overflow-style: none; }
        ::-webkit-scrollbar { display: none; }
      }
    }
  }
}
