fastapi==0.73.0
motor==2.5.1
pydantic[email]~=1.9.0
python-decouple==3.6
uvicorn==0.17.4
python-dotenv~=0.19.2
pymongo~=3.12.3
requests~=2.27.1
python-dateutil~=2.8.2
humps~=0.2.2
pytest~=7.1.1
httpx~=0.22.0
minimalmodbus~=2.0.1
opencv-python~=4.5.5.64
thop~=0.0.31-2005241907
numpy~=1.22.3
pandas~=1.4.2
torch~=1.9.1+cu111
pyyaml~=6.0
pillow~=9.1.0
matplotlib~=3.5.2
seaborn~=0.11.2
torchvision~=0.10.1+cu111
tqdm~=4.64.0
shapely~=1.8.2
pyserial~=3.5
starlette~=0.17.1
config~=0.5.1
bcrypt~=3.2.0
jose~=1.0.0