@import "mixins";

@font-face {
  font-family: 'NanumSquareOTFLight';
  src: url('../../public/font/NanumSquareOTF_acL00.eot');
  src: url('../../public/font/NanumSquareOTF_acL00.eot?#iefix') format('embedded-opentype'),
  url('../../public/font/NanumSquareOTF_acL00.woff2') format('woff2'),
  url('../../public/font/NanumSquareOTF_acL00.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  ascent-override: 65%;
  descent-override: 0%;
}

@font-face {
  font-family: 'NanumSquareOTFRegular';
  src: url('../../public/font/NanumSquareOTF_acR00.eot');
  src: url('../../public/font/NanumSquareOTF_acR00.eot?#iefix') format('embedded-opentype'),
  url('../../public/font/NanumSquareOTF_acR00.woff2') format('woff2'),
  url('../../public/font/NanumSquareOTF_acR00.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 65%;
  descent-override: 0%;
}

@font-face {
  font-family: 'NanumSquareOTFBold';
  src: url('../../public/font/NanumSquareOTF_acB00.eot');
  src: url('../../public/font/NanumSquareOTF_acB00.eot?#iefix') format('embedded-opentype'),
  url('../../public/font/NanumSquareOTF_acB00.woff2') format('woff2'),
  url('../../public/font/NanumSquareOTF_acB00.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  ascent-override: 65%;
  descent-override: 0%;
}

@font-face {
  font-family: 'NanumSquareOTFExtraBold';
  src: url('../../public/font/NanumSquareOTF_acEB00.eot');
  src: url('../../public/font/NanumSquareOTF_acEB00.eot?#iefix') format('embedded-opentype'),
  url('../../public/font/NanumSquareOTF_acEB00.woff2') format('woff2'),
  url('../../public/font/NanumSquareOTF_acEB00.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  ascent-override: 65%;
  descent-override: 0%;
}

//div#navContainer {
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  align-items: flex-start;
//  height: 100%;
//  min-height: 100%;
//  color: white;
//  position: fixed;
//  width: 100%;
//  div.rightContentContainer{
//    width: 100%;
//    height: 100%;
//    position: absolute;
//    top: 0;
//    left: 0;
//    div.contentContainer{
//      width: 100%;
//      height: 100%;
//      overflow-y: auto;
//    }
//  }
//}

 div#navContainer{
   width: 100%;
   position: relative;
   overflow: hidden;

   div.verticalNavContainer{
     width: 100%;
     height: 100%;
     min-height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 2;
   }
   div.rightContentContainer {
     width: 100%;
     height: 100%;
     position: relative;
     padding-top: 45px;

     div.horizontalNavContainer{
       width: 100%;
       position: fixed;
       top: 0;
       left: 0;
       z-index: 1;
     }

     div.contentContainer {
       width: 100%;
       height: 100%;
       overflow: hidden;
       padding-bottom: 250px;
     }
   }
 }


#bg {
  //background-color: #0C4C77;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

#App {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
  touch-action: pan-x pan-y;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body * {
  //font-family: "Noto Sans KR", serif;
  font-family: NanumSquareOTFRegular;
  color: #1c2226;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


div.category {
  width: 100%;
  height: 50px;
  margin: 16px 0;
  padding: 0 16px;
  padding-right: 8px;
  display: flex;
  align-items: center;

  border: 1.5px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  //box-shadow: 0 0 10px 0 #222;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.2);
  //color: #0c4b76;

  img {
    margin-top: 1px;
    width: 26px;
  }

  svg {
    margin-top: 1px;
    width: 26px;
  }

  span.name {
    font-size: 20px;
    margin-left: 8px;
    margin-right: auto;
    line-height: 50px;
    //color: #0c4b76;
  }

  span.score {
    //color: #0c4b76;
    margin-right: 8px;
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
  }
}

div.recharts-responsive-container {
  .xAxis,
  .yAxis {
    text {
      fill: white;
    }

    line {
      stroke: white;
    }
  }
}

.form {
  width: 100%;
  margin-bottom: 36px;
  outline: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid white;
  padding: 0 1px;
  background-color: rgba(white, 0);
  font-size: 18px;

  &::placeholder {
    color: #ffffff33;
  }
}

.backBtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none !important;
  background-color: transparent;
}

div.fileUploader {
  background-color: transparent;
  height: auto;

  div.fileContainer {
    background-color: transparent;
    height: auto;
    padding: 0;
    margin: 0;

    p {
      display: none;
    }

    button.chooseFileButton {
      margin: 16px auto 12px auto;
      border: unset;
      width: 100%;
      height: 40px;
      font-size: medium;
      line-height: 5%;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 30px;
      box-shadow: 1.5px 1.5px 2px 2px rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }
}

.basicBtn {
  width: 150px;
  @include loadBtnBg;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 50px;
  cursor: pointer;
}
