@import "src/stylesmixins";
div.askContainer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div.askTitle{
    @include navyFont;
    font-size: 40px;
    margin-bottom: 70px;
    padding-left: 50px;
    width: 100%;
    span{
      @include navyFont;
      font-size: 20px;
    }
  }

  div.askTextTop{
    width: 100%;
    max-width: 1000px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
      span:nth-child(1){
        color: black;
        font-size: 30px;
      }
      span:nth-child(2){
        color: black;
        font-size: 30px;
        font-weight: 300;
      }
      span:nth-child(3){
        @include selectGreenFont;
      }
    }
  }

  div.askContentBox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    border-bottom: 1px solid black;
    margin-top: 20px;
    padding-bottom: 20px;

    div.askQuestionBox{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      div.askContentTextBox{
        display: flex;
        justify-content: start;
        align-items: center;
        div.askContentText1{
          color: black;
          width: 30px;
          font-size: 30px;
          @include selectGreenFont;
        }
        div.askContentText2{
          color: black;
        }
      }
    }

    div.askContentAnswerTextBox{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      min-width: 1000px;
      margin-top: 20px;
      margin-bottom: 10px;
      div.askContentAnswerText1{
        color: #eeba41 !important;
        width: 30px;
        font-size: 30px;
        @include selectGreenFont;
      }
      div.askContentAnswerText2{
        color: black;
        width: 100%;
      }
    }
  }
}
