@import "src/stylesmixins";
div.helpContainer{
  //background-color: #A6A6A6;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div.helpTitle{
    @include navyFont;
    //background-color: #9a9a9a;
    font-size: 40px;
    margin-bottom: 70px;
    padding-left: 50px;
    width: 100%;
  }
  div.helpTextTop{
    width: 100%;
    max-width: 1000px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    span:nth-child(1){
      color: black;
      font-size: 30px;
    }
    span:nth-child(2){
      color: black;
      font-size: 30px;
      font-weight: 300;
    }
    span:nth-child(3){
      @include selectGreenFont;
    }
  }

  div.helpContentBox{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    border-bottom: 1px solid black;
    margin-top: 20px;
    padding-bottom: 20px;
    div.helpContentTextBox{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      div.helpContentText1{
        width: 50%;
        color: black;
        //background-color: #e61f19;
        padding-left: 30px;
        font-size: 30px;
        font-weight: 300;
        span{
          font-weight: 900;
          color: black;
        }
      }
      div.helpContentText2{
        color: black;
        width: 50%;
        //background-color: #eeba41;
        padding-left: 30px;
        font-size: 30px;
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        img{
          margin-right: 10px;
        }
      }
    }
  }
  div.helpContentInfoBox{
    color: black;
    width: 100%;
    max-width: 1000px;
    font-weight: 300;
    margin-top: 30px;
  }
}
