@import "src/stylesmixins";
div.swUpdateContainer{
  //background-color: #A6A6A6;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div.swUpdateTitle{
    @include navyFont;
    //background-color: #9a9a9a;
    font-size: 40px;
    margin-bottom: 70px;
    padding-left: 50px;
    width: 100%;
  }
  div.swUpdateTextTop{
    //background-color: #4B8CE1;
    width: 100%;
    max-width: 1000px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    span:nth-child(1){
      color: black;
      font-size: 30px;
    }
    span:nth-child(2){
      color: black;
      font-size: 30px;
      font-weight: 300;
    }
    span:nth-child(3){
      @include selectGreenFont;
    }
  }

  div.swUpdateTableBox{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* PAGENATION START*/
    .paginationUl{
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      padding: 0;
    }
    .pageLabelBtn{
      cursor: pointer;
      background-color: #195375;
      color: white;
      border-radius: 5px;
      width: 40px;
      border: 1px solid #195375;
      text-align: center;
      a{
        color: white;
      }
    }
    .paginationLi{
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #195375;
      margin: 0 3px;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      text-align: center;
      a{
        @include navyFont;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
      }
    }
    .currentPage{
      cursor: pointer;
      background-color: #195375;
      //background-color: #20d4aa;
      border: 1px solid #195375;
      color: white;
      a{
        color: white;
      }
    }
    .paginationDisabled{
      border: 1px solid #195375;
      cursor: pointer;
      background-color: #eaeaea;
      a{color: #195375}
    }
    /* PAGENATION END*/
  }

}
