@import "src/stylesmixins";
div.findImageContainer{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  //background-color: #e61f19;
  div.findImageTitle{
    width: 100%;
    font-size: 30px;
    margin-bottom: 80px;
    @include navyFont;
    //background-color: #0c4b76;
  }

  div.findImageContentBox{
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    //background-color: #4B8CE1;
    div.findImageContentTitle{
      font-size: 30px;
      margin-bottom: 30px;
    }
    div.findImageContent{
      width: 100%;
      background-color: #eaeaea;
      border: 1px solid #06263C;
      margin-bottom: 30px;
      padding: 20px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      div.findImageContentRow{
        display: flex;
        flex-direction: row;
        width: 100%;
        //background-color: #20d4aa;
        max-width: 400px;
        div.findImageRowCol1{
          width: 150px;
          //border: 1px solid #06263C;
          padding: 10px;
          color: black;
        }
        div.findImageRowCol2{
          display: flex;
          flex-direction: row;
          align-items: center;
          //border: 1px solid #06263C;
          padding: 10px;
          width: 100%;
          color: black;
          justify-content: space-between;

          input.ageInput{
            width: 60px;
            color: black;
          }
          div.findImageRowBox{
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 100%;
            input{
              border-top: 1px solid black;
              border-bottom: 1px solid black;
              border-left: 1px solid black;
              border-right: none;
              height: 100%;
              box-sizing: border-box;
              color: black;
              width: 100%;
            }
            div{
              border-top: 1px solid black;
              border-bottom: 1px solid black;
              border-right: 1px solid black;
              border-left: none;
              //background: #8d95b0;
              height: 100%;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              color: black;
              select{
                width: 0;
                height: 0;
                border-top: 12px solid black;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 0px solid transparent;
              }
            }
          }
          div{
            color: black;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            label{
              color: black;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
          }
        }
      }
    }
    div.findImageFindBox{
      width: 100%;
      display: flex;
      //justify-content: flex-end;
      justify-content: center;
      //background: #8d95b0;
      div{
        margin: 0;
        width: 250px;
      }
    }
  }
}
