@import "src/stylesmixins";
div.loadImgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @include contentBgColor;

  div.loadImgBtnBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div.loadImgBtn{
      font-size: 25px;
      font-weight: 350;
      padding: 10px;
      cursor: pointer;
      //background-color: #093A5B;
      @include greyBorder;
      width: 250px;
      height: 250px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 60px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #06263C;
      flex-direction: column;
      span{
        color: #06263C;
        font-size: 30px;
        font-weight: 700;
      }
      &:hover{
        border: 3px solid #06263C;
        //box-shadow: 0 0 3px 3px rgba(32, 212, 170, 0.3);
      }
      div.loadBtnImg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
        img{
          width: 80px;
          height: 80px;
        }
      }
      div.loadBtnNext{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 5px 0;
        width: 100%;
        img{
          width: 40px;
          height: 40px;
          margin-right: 15px;
        }
      }
    }
  }
}
