@import "src/stylesins";
#activationLoginScreen {
  width: 100%;
  //min-width: 500px;
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: white;

  div.logoBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    img.logo {
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }

    div.logoText {
      display: flex;
      flex-direction: column;
      div:nth-child(1){
        font-size: 30px;
        @include navyFont;
      }
      div:nth-child(2){
        font-size: 14px;
        @include navyFont;
      }
    }
  }

  div.loginBox {
    width: 400px;
    height: auto;
    border: 1px solid #399778;
    padding: 30px 100px;
    @include lightgrayBg;

    div.activationBox{
      //background-color: #093A5B;
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      box-sizing: border-box;
      div.activationText{
        width: 100% !important;
        max-width: 290px !important;
        color: black;
      }

      input.activationInput{
        width: 100% !important;
        //width: 300px !important;
        height: 30px;
        margin: 20px 0;
        max-width: 290px !important;
        //min-width: 290px !important;
        padding: 0;
        border: 1px solid black;
        background-color: white;
        color: #06263C;
        //padding-left: 10px;
        text-align:center;
        font-size: 18px;
        ::placeholder{
          color: #eaeaea;
        }
      }
      div.activationStartBtn{
        cursor: pointer;
        background-color: #06263C;
        width: 100%;
        max-width: 290px !important;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  div.activationTextBox{
    margin-top: 15px;
    div{
      color: #399778;
      text-align: center;
      font-size: 12px;
    }
  }
}

