@import "src/stylesins";
div.loadContainer{
  padding: 20px;
  @include contentBgColor;
  //height: 100%;
  div.loadTitle{
    font-size: 30px;
    margin-bottom: 80px;
    @include navyFont;
  }
  div.loadContentBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
    div.loadBox{
      display: flex;
      flex-direction: column;
      //background-color: #093A5B;
      border: 1px solid #195375;
      width: 100%;
      max-width: 650px;
      padding: 30px;
      div.typeDataBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        div.typeDataBoxTitle{
          width: 200px;
          @include navyFont;
        }
        div.typeDataLiBoxCon{
          display: flex;
          flex-direction: row;
          width: 100%;
          div.typeDataLiBox{
            width: 50%;
            div.typeDataLi{
              width: 100%;
              border: 1px solid white;
              padding: 5px 0;
              text-align: center;
              cursor: pointer;
              background-color: #eaeaea;
              @include navyFont;
              display: flex;
              flex-direction: row;
              padding-left: 20px;
              padding-right: 20px;
              box-sizing: border-box;
              justify-content: space-between;
              div.blackTri{
                width: 0;
                height: 0;
                border-top: 10px solid black;
                border-bottom: 10px solid transparent;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
              }
            }

            //div.typeDataLi:nth-child(1){
            //  background-color: #A6A6A6;
            //  cursor: auto;
            //  color: white !important;
            //}
          }
        }
      }
      div.loadSaveBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        div.loadSaveBoxTitle{
          width: 200px;
          @include navyFont;
        }
        div.loadSaveLiBox{
          width: 100%;
          display: flex;
          flex-direction: column;
          div.loadSaveLi{
            width: 100%;
            padding: 5px 0;
            border: 1px solid white;
            cursor: pointer;
            background-color: #eaeaea;
            span{
              @include navyFont;
              margin-left: 10px;
            }
          }
        }
      }
    }
    div.confirmBox{
      display: flex;
      flex-direction: row;
      justify-content: center;
      div{
        cursor: pointer;
        //width: 100%;
        width: 100px;
        @include loadBtnBg;
        border-radius: 10px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 10px;
      }
    }
  }
}
div.seletedAnalOpt{
  @include selectGreenBg;
  color: white !important;
  span{
    color: white !important;
  }
}
