div.mainContainer {
  width: 100%;
  //height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  div.topMainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 640px;
    background-color: #E1E4E5;
    z-index: 0;

    div.centerTopBox {
      width: 1336px;
      display: flex;
      flex-direction: row;

      div.leftTopBox {
        width: 100%;
        height: 640px;
        padding-left: 20px;

        img.mainLogo {
          margin-top: 100px;
          width: 370px;
          height: 93.25px;
        }

        div.titleTopLeftBox {
          margin-top: 70px;
          font-family: NanumSquareOTFExtraBold;
          font-size: 32px;
          line-height: 10px;

          span {
            font-family: NanumSquareOTFExtraBold;
            color: #ff8000;
          }
        }

        div.textTopLeftBox {
          font-family: NanumSquareOTFBold;
          margin-top: 50px;
          font-size: 18px;
          font-weight: 800;
          line-height: 28px;
        }

        button.startButton {
          width: 200px;
          height: 60px;
          font-size: 18px;
          font-family: NanumSquareOTFExtraBold;
          color: #fff;
          border-radius: 5px;
          background-color: #ff8000;
          border: none;
          margin-top: 30px;
          cursor: pointer;
        }

        button.startButton:hover {
          background: #FF9C02;
          transition: background 0.1s;
        }
      }

      div.rightTopBox {
        width: 100%;
        height: 640px;
        position: relative;

        div {
          img {
            width: 364px;
            height: 361.328px;
          }
        }

        @keyframes rocket {
          20% {
            top: 70px;
          }
          40% {
            top: 60px;
          }
          60% {
            top: 0px;
          }
          80% {
            top: -15px;
          }
        }

        div.rightImageTopBox {
          img.rocket {
            width: 828px;
            height: 765px;
            position: absolute;
            left: 0px;
            top: 50px;
            z-index: 3;
            animation-name: rocket;
            animation-duration: 4s;
            animation-delay: 0s;
            animation-direction: normal;
            animation-iteration-count: infinite;
            //animation: ease-in-out;
          }
        }
      }
    }
  }

  div.middleMainBox {
    width: 100%;
    height: 100%;
    min-height: 1046px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 246, 246);

    div.middleMainBoxTitle {
      margin-top: 40px;
      margin-bottom: 40px;
      width: 1336px;
      font-size: 24px;
      font-weight: 700;
      align-items: flex-start;

      span.middleMainBoxTitleColor {
        font-family: NanumSquareOTFExtraBold;
        color: #ff8000;
      }
    }

    div.middleMainBoxContent {
      display: flex;
      justify-content: space-between;
      padding-bottom: 48px;
      width: 1336px;
      height: 932px;

      div.typePlanBox:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 10px #d9d9d9;

        div {
          transform: scale(1.0);
          box-shadow: none;
        }

        div.typePlanBoxTop {
          background-color: #ff8000;
          border-radius: 4px 4px 0px 0px;

          div, span {
            color: #fff !important;
          }

          button {
            background-color: #fff !important;
            color: #ff8000 !important;
          }
        }

        div.typePlanBoxBottom {
          div.planButtonBox {
            button.planStartButton:hover {
              background: #FF9C02 !important;
              transition: background 0.1s;
            }

            button.planSubscribeButton:hover {
              background: #50FCB7 !important;
              transition: background 0.1s;
            }
          }
        }
      }

      div.typePlanBox {
        width: 300px;
        height: 884px;
        background-color: #fff;
        border-radius: 4px;
        transition: all 100ms;
        box-shadow: 0px 60px 80px rgb(0 0 0 / 0%);
        padding-bottom: 10px;

        div.typePlanBoxTop {
          align-items: center;
          height: 220px;
          text-align: center;
          border-bottom: 1px solid #e1e4e5;

          div.planAnalysisAI {
            font-size: 14px;
            font-family: NanumSquareOTFBold;
            color: #ff8000;
            padding-top: 40px;
            margin-bottom: 10px;
          }

          span {
            font-size: 22px;
          }

          span.planNameBold {
            font-weight: 800;
          }

          span.planNameLight {
            opacity: 0.7;
            margin-left: 6px;
            color: #1C2226;
          }

          div.planPrice {
            font-weight: 400;
            font-size: 30px;
            margin-top: 30px;
          }

          button {
            height: 23px;
            font-size: 14px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 13px;
            margin-top: 20px;
            padding: 0 16px;
            transition: all 80ms;
            border: none;
            font-family: NanumSquareOTFBold;
          }

          button.nonMember {
            background-color: #cccccc;
          }

          button.memberShip {
            background-color: #ff8000;
            color: #fff;
          }

        }

        div.typePlanBoxBottom {
          width: 300px;

          div.planButtonBox {
            width: 300px;
            padding: 12px 12px 0 12px;

            button {
              align-items: center;
              width: 92%;
              padding: 0 16px 0 12px;
              height: 40px;
              vertical-align: middle;
              cursor: pointer;
              border-radius: 4px;
              border: none;
              font-size: 14px;
              font-family: NanumSquareOTFBold;
            }

            button.planStartButton {
              background-color: #ff8000;
              color: #fff;
            }

            button.planSubscribeButton {
              background-color: #00EE8F;
            }

            button.planStartButton:hover {
              background: #FF9C02;
              transition: background 0.1s;
            }

          }

          div.planContentTextBoxTop {
            display: flex;
            margin-top: 30px;
            padding: 0 0 0 18px;

            img {
              margin-top: -3px;
              margin-right: 5px;
              width: 14px;
              height: 14px;
            }

            div.planContentText {
              font-size: 14px;
              line-height: 8px;
              font-family: NanumSquareOTFExtraBold;

              p {
                color: #ff8000;
                font-family: NanumSquareOTFExtraBold;
              }
            }
          }

          div.planContentTextBox {
            display: flex;
            margin-top: 15px;
            padding: 0 0 0 18px;

            img {
              margin-top: -3px;
              margin-right: 5px;
              width: 14px;
              height: 14px;
            }

            div.planContentText {
              font-size: 14px;
              line-height: 8px;
              font-family: NanumSquareOTFExtraBold;

              p {
                color: #ff8000;
                font-family: NanumSquareOTFExtraBold;
              }
            }
          }
        }
      }
    }

  }

  div.middleBottomMainBox {
    width: 100%;
    height: 100%;
    min-height: 922px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E1E4E5;

    div.middleMainBoxTitle {
      margin-top: 40px;
      margin-bottom: 40px;
      width: 1336px;
      font-size: 24px;
      font-weight: 700;
      align-items: flex-start;

      span.middleMainBoxTitleColor {
        font-family: NanumSquareOTFExtraBold;
        color: #ff8000;
      }
    }

    div.middleMainBoxContent {
      display: flex;
      justify-content: space-between;
      padding-bottom: 48px;
      width: 1336px;
      height: 808px;

      div.typePlanBox:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 10px #d9d9d9;

        div {
          transform: scale(1.0);
          box-shadow: none;

        }

        div.typePlanBoxTop {
          background-color: #ff8000;
          border-radius: 4px 4px 0px 0px;

          div, span {
            color: #fff !important;
          }

          button {
            background-color: #fff !important;
            color: #ff8000 !important;
          }
        }
      }

      div.typePlanBoxBottom {
        div.planButtonBox {
          button.planStartButton:hover {
            background: #FF9C02 !important;
            transition: background 0.1s;
          }

          button.planSubscribeButton:hover {
            background: #50FCB7 !important;
            transition: background 0.1s;
          }
        }
      }

      div.typePlanBox {
        width: 300px;
        height: 760px;
        background-color: #fff;
        border-radius: 4px;
        transition: all 100ms;
        box-shadow: 0px 60px 80px rgb(0 0 0 / 0%);
        padding-bottom: 10px;

        div.typePlanBoxTop {
          align-items: center;
          height: 220px;
          text-align: center;
          border-bottom: 1px solid #e1e4e5;

          div.planAnalysisAI {
            font-size: 14px;
            font-family: NanumSquareOTFBold;
            color: #ff8000;
            padding-top: 40px;
            margin-bottom: 10px;
          }

          span {
            font-size: 22px;
          }

          span.planNameBold {
            font-weight: 800;
          }

          span.planNameLight {
            opacity: 0.7;
            margin-left: 6px;
            color: #1C2226;
          }

          div.planPrice {
            font-weight: 400;
            font-size: 30px;
            margin-top: 30px;
          }

          button {
            height: 23px;
            font-size: 14px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 13px;
            margin-top: 20px;
            padding: 0 16px;
            transition: all 80ms;
            border: none;
            font-family: NanumSquareOTFBold;
          }

          button.nonMember {
            background-color: #cccccc;
          }

          button.memberShip {
            background-color: #ff8000;
            color: #fff;
          }

        }

        div.typePlanBoxBottom {
          width: 300px;

          div.planButtonBox {
            width: 300px;
            padding: 12px 12px 0 12px;

            button {
              align-items: center;
              width: 92%;
              padding: 0 16px 0 12px;
              height: 40px;
              vertical-align: middle;
              cursor: pointer;
              border-radius: 4px;
              border: none;
              font-size: 14px;
              font-family: NanumSquareOTFBold;
            }

            button.planStartButton {
              background-color: #ff8000;
              color: #fff;
            }

            button.planSubscribeButton {
              background-color: #00EE8F;
            }
          }

          div.planContentTextBoxTop {
            display: flex;
            margin-top: 30px;
            padding: 0 0 0 18px;

            img {
              margin-top: -3px;
              margin-right: 5px;
              width: 14px;
              height: 14px;
            }

            div.planContentText {
              font-size: 14px;
              line-height: 8px;
              font-family: NanumSquareOTFExtraBold;

              p {
                color: #ff8000;
                font-family: NanumSquareOTFExtraBold;
              }
            }
          }

          div.planContentTextBox {
            display: flex;
            margin-top: 15px;
            padding: 0 0 0 18px;

            img {
              margin-top: -3px;
              margin-right: 5px;
              width: 14px;
              height: 14px;
            }

            div.planContentText {
              font-size: 14px;
              line-height: 8px;
              font-family: NanumSquareOTFExtraBold;

              p {
                color: #ff8000;
                font-family: NanumSquareOTFExtraBold;
              }
            }
          }
        }
      }
    }

  }

  div.membershipPlanGuideBox {
    width: 100%;
    min-height: 400px;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;

    div.planGuideContentBox {
      align-items: flex-start;
      width: 1336px;
      height: 356.766px;
      margin-top: 25px;

      div.planGuideBold {
        margin-top: 10px;
        font-size: 14px;
        line-height: 16.1px;
        font-family: NanumSquareOTFExtraBold;
      }

      div.planGuideText {
        font-size: 12px;
        line-height: 25px;
        margin-top: 12px;
        margin-bottom: 30px;
        font-family: NanumSquareOTF;
      }

      button {
        all: unset;
        width: 200px;
        height: 40px;
        background-color: #ff8000;
        color: #fff;
        padding: 0 16px 0 12px;
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 15px;
        margin-bottom: 30px;
        cursor: pointer;
        a{
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          font-size: 14px;
          font-family: NanumSquareOTFExtraBold;
          line-height: 40px;
          text-align: center;
        }
      }

      button:hover {
        background: #FF9C02;
        transition: background 0.3s;
      }
    }
  }
}