div.supervisedImgAnalysisContainer {
  width: 100%;
  height: 100%;
  background-color: #e1e4e5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;

  div.txtTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 100px 0 24px;
    margin-left: 120px;

    div.txtTopLeft {

      div.txtInfo {
        font-size: 18px;
        padding-bottom: 10px;
      }

      div.txtTitle {
        display: flex;
        font-size: 28px;
        display: flex;
        align-items: center;

        div.txtBottomTitle {
          font-family: NanumSquareOTFBold;
        }

        div.txtBottomIcon {
          width: 32px;
          height: 32px;
          background-color: #fff;
          border-radius: 2px;
          margin-left: 8px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 20px;
          }
        }
      }
    }

    div.txtTopRight {
      display: flex;

      div.txtTopRightIcon {
        width: 32px;
        height: 32px;
        border-radius: 2px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;

        img {
          width: 25px;
        }
      }
    }
  }

  div.supervisedImgAnalysisBox {
    width: 920px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0;

    div.supervisedImgAnalysisBoxCon {
      width: 1376px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      position: relative;

      div.imgClassActivateCon, div.imgClassDeactivateCon {
        width: 577.781px;
        display: flex;
        align-items: start;
        flex-direction: column;
        height: 40px;

        div.imgClassTitle {
          font-size: 24px;
          font-family: NanumSquareOTFBold;
          margin-bottom: 20px;
        }
      }

      div.supervisedImgFileUploader {
        display: flex;
        align-items: end;
        flex-direction: column;
      }
    }
  }

  div.txtBottom {
    width: 100%;
    position: relative;
    right: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    div.txtAICounter {
      font-size: 14px;
      margin-bottom: 18px;

      span {
        background-color: #1C2226;
        color: #fff;
        font-size: 16px;
        font-family: NanumSquareOTFBold;
        padding: 6px 8px;
        border-radius: 4px;
      }
    }
  }

}