div.modalPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); ///배경에 픽스를 주고 투명도를 준다.
  div.errorModal {
    color: white;
    //color: #404a54;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    //background-color: white;
    background: linear-gradient(
        200.96deg,
        #66b3ed 20%,
        #ba81f1 41.77%,
        #6892e8 120.35%
    );
    position: relative;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 20px;

    div.errorModalTopContainer {
      display: flex;
      justify-content: space-between;

      div.errorTitle {
        div {
          font-size: 30px;
          font-weight: bold;
        }
      }
      div.modalEndButton{
        cursor: pointer;
      }
    }

    div.modalContent {
      font-size: 20px;
      line-height: 10px;
    }
  }
}
