div.mainContainer {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  max-width: 1024px;
  max-height: 816px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 20px 20px -4px rgba(0, 0, 0, 0.2);

  div.topContainer {
    width: 1024px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 4px 10px -4px #ababab;
    background-color: rgba(255, 255, 255, 0.5);

    div.interXLogo {
      width: 120px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
    }

    div.currentDate {
      width: 350px;
      font-size: 25px;
      font-weight: bold;
      color: #404a54;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.mainIconBox{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 120px;
      margin-right: 30px;

      div.graphIcon {
        cursor: pointer;
        position: relative;
        margin-right: 15px;
      }

      div.settingIcon {
        cursor: pointer;
        position: relative;
      }
    }
  }

  div.centerContainer {
    background-color: rgba(255,255,255,0.8);
    width: 1024px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    div.buttonContainer {
      height: 120px;
      img{
        width: 30px;
        height: 25px;
        position: relative;
        left: 320px;
      }
      div{
        position: relative;
        margin-top: 10px;
        height: 10px;
        color: #404a54;
        font-size: 30px;
        display: flex;
        padding-bottom: 30px;
      }
      button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background: linear-gradient(
            200.96deg,
            #9cccf1 20%,
            #dabef3 41.77%,
            #90aef0 120.35%
        );
        border: none;
        color: white;
        font-size: 19px;
        font-weight: bold;
        margin: 0 100px 0 100px;
        cursor: pointer;
        box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.3);
      }

      button:hover {
        background: linear-gradient(
            200.96deg,
            #66b3ed 20%,
            #ba81f1 41.77%,
            #6892e8 120.35%
        );
      }

      button:active {
        transform: translateY(2px);
      }
    }
  }

  div.bottomContainer {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    //max-height: 533.34px;

    div.titleShowData {
      padding-left: 115px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 20px;
      font-weight: bold;
      color: #404a54;
      img {
        margin-right: 5px;
      }
    }

    div.contentShowData {
      padding-bottom: 5px;
      margin-left: 115px;
      border-bottom: #ababab 1px solid;
      width: 794px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 10px;
      color: #747474;
      text-align: center;

      div{
        display: flex;
        align-items: center;
        img {
          position: relative;
          margin-right: 5px;
          margin-left: 5px;
        }

        span{
          font-size: 15px;
        }
      }
      div.dataTitleTempBox{
      }
      div.dataTitleHumiBox{
        margin-left: -20px
      }
      div.dataTitleWeatherTempBox{
        margin-left: -30px;
      }
      div.dataTitleWeatherBox{
        margin-left: -30px;
      }
      div.dataTitleTimeBox{
        margin-right: 30px;
      }
      div.dataTitleWeatherBox{
        margin-right: 20px;
      }
      div.dataTitleLocationBox{
        margin-right: 80px;
      }
    }

    div.showDataContainer {
      //display: flex;
      //align-items: center;
      //justify-content: center;
      height: 400px;
      text-align: center;
      //margin-top: 20px;
      color: #404a54;
      font-size: 18px;
      font-weight: bold;

      span {
        text-align: center;
        //margin-right: 130px;
      }
    }
  }

  div.footerContainer {
    width: 1024px;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
