div.toggleItem {
  span {
    &.title {
      font-size: 18px;
      font-weight: bold;
    }

    &.subtitle {
      font-size: 14px;
    }
  }

  #toggleIcon {
    display: inline-block;
    margin-right: 5px;
    transform: rotate(-90deg) translateX(1px);
    transition: transform 0.2s linear;

    &.toggled {
      transform: rotate(0deg) translateX(1px);
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  table {
    $bg: #fff6;

    width: 100%;
    border-spacing: 5px 2px;

    td {
      background: $bg;
      width: 50px;
      height: 16px;
      padding: unset;
    }
  }

  #label {
    position: relative;
    height: 18px;
    span {
      display: inline-block;
      position: absolute;
      transform: translateX(-50%);
      font-size: 12px;
    }
    #veryLow-low {
      left: 20%;
    }
    #low-mid {
      left: 40%;
    }
    #mid-high {
      left: calc(60% - 1px);
    }
    #high-veryHigh {
      left: calc(80% - 2px);
    }
  }

  #toggleArea {
    transition: max-height 0.5s ease;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 12px;

    p {
      font-size: 14px;
      padding-left: 5px;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  input[type="checkbox"]:checked + span + span + table + div + #toggleArea {
    transition: max-height 1s ease;
    max-height: 200px;
  }
}
