div#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

div.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 2;
}

.calendar {
  background-color: white;

  .head {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

    .title {
      padding: 0.5rem 0.5rem;
      font-size: 1.1rem;
      color: #8d95b0;
      user-select: none;
      cursor: pointer;
    }

    button {
      all: unset;
      cursor: pointer;
      display: inline-flex;
      align-items: stretch;
      font-size: 1.25rem;
      background-color: transparent;
      border: none;
      padding: 0 0.5rem;

      svg {
        fill: black;
      }
    }
  }

  .body .row {
    display: flex;

    &:first-child .box {
      margin-bottom: -8px;

      span.text {
        font-weight: bold;

        &:hover {
          cursor: initial;
          background-color: transparent;
        }
      }
    }

    .box {
      position: relative;
      text-align: center;
      font-size: 0.8rem;
      width: calc(320px / 7);
      height: calc(320px / 7);
      margin-bottom: 8px;

      &:first-child {
        span.text {
          color: red;
        }
      }

      &:last-child {
        span.text {
          color: #5f91ff;
        }
      }

      span.text {
        color: black;
        border-radius: 100%;
        display: block;
        width: 70%;
        height: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgba(#5f91ff, 0.1);
        }
        &.today {
          background-color: rgba(gray, 0.1);
        }
        &.selected {
          background-color: #5f91ff;
          color: white;
        }
        &.grayed {
          color: #b0b0b0;
        }
      }

      span.menuStatus {
        display: block;
        color: black;
        font-size: 10px;

        &.grayed {
          color: #b0b0b0;
        }
      }
    }
  }
}
