@import "../../mixins";
$rightNavWidth: 56px;
@mixin verticalLi {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin verticalLiIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $rightNavWidth;
  width: $rightNavWidth;
  cursor: pointer;
  img{
    width: 100%;
  }
}
@mixin verticalLiText {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  font-family: NanumSquareOTFBold;
  color: #404a54;
  div.verticalNavLiTextCon{
    width: 100%;
    padding: 14px 0 14px 8px;
    background-color: #fafafa;
    font-family: NanumSquareOTFBold;
    span{
      margin-left: 5px;
      padding: 6px;
      border-radius: 4px;
      background-color: #000;
      color: #00EE8F;
      font-size: 11px;
    }
    div.verticalNavLiTextAvatar{
      font-family: NanumSquareOTFBold;
      padding-top: 10px;
      font-size: 14px;
    }
  }
}

nav.verticalMenuClicked {
  width: 250px !important;
  transition: width 0.3s;

  li.logoBox {
    background-color: #cccccc;
    width: $rightNavWidth;
    height: $rightNavWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    div{
      img{
        width: 56px;
        height: 56px;
      }
    }
  }

  li.verticalNavLi{
    width: auto !important;
    div.verticalNavLiText{
      @include verticalLiText;
      width: 200px !important;
      //background-color: white !important;
    }
  }
}

nav.verticalNav {
  @include verticalNavBg;
  width: $rightNavWidth;
  height: 100%;
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: width 0.5s;
  overflow: hidden;
  z-index: 10;

  li.logoBox {
    background-color: #cccccc;
    width: $rightNavWidth;
    height: $rightNavWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    div.verticalNavLiIcon{
      width: 56px;
      height: 56px;
      img.logo{
        width: 50px;
        height: 50px;
      }
    }
    div.verticalNavLiText{
      height: 56px;
    }
  }

  ul.verticalNavTopUl {
    li.verticalNavLi{
      @include verticalLi;
      opacity: 0.7;
      transition: 0.3s;
      &:hover {
        background-color: #fff;
        opacity: 1;
      }
      div.verticalNavLiIcon{
        display: flex;
        div.iconbox {
          @include verticalLiIcon;
        }
        div.verticalNavLiText {
        }
      }
    }
  }
  ul.verticalNavBottomUl{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #cccccc;
    li.verticalNavLi{
      transition: 0.3s;
      @include verticalLi;
      &:hover {
        background-color: #fff;
      }
      div.verticalNavLiIcon{
        display: flex;
        div.iconbox{
          @include verticalLiIcon;
        }
      }
    }
  }
}

div.emptyNav {
  min-width: $rightNavWidth;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}
