div.aILearningTesterContainer {
  //width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div.aILearningTesterBoxWrap {
    width: 240px;
    position: relative;

    div.aILearningTesterTitle {
      font-size: 24px;
      font-family: NanumSquareOTFExtraBold;
      margin-bottom: 20px;
    }

    div.aILearningCircleBadge {
      width: 140px;
      height: 140px;
      background-color: #ff8800;
      border-radius: 50%;
      position: absolute;
      top: -20px;
      right: -65px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 18px;
      display: none;

      div.circleBadgeFirst {
        color: #fff;
        font-family: NanumSquareOTFExtraBold;
        text-align: center;
        line-height: 22px;
      }

      div.circleBadgeSecond  {
        color: #fff;
        opacity: 0.7;
        font-size: 14px;
        font-family: NanumSquareOTFExtraBold;
        margin-top: 10px;
      }

      div.circleBadgeCompleteColor{
        width: 100%;
        height: 100%;
        background-color: #00EE8F;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div.circleBadgeFirst{
          color: #1C2226;
        }
      }
    }

    div.aILearningTesterBox {
      width: 240px;
      background-color: #fff;
      box-shadow: 0 60px 80px rgba(0, 0, 0, 0.16);

      div.aILearningTesterBoxTop {
        width: 100%;
        height: 130px;
      }

      div.aILearningTesterBoxMid {
        width: 100%;
        box-sizing: border-box;
        position: relative;
        border-top: 1px solid #ececec;

        div.toggleBoxOption {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          font-weight: 700;
          padding: 0 12px;
          box-sizing: border-box;
          cursor: pointer;

          &:hover {
            background-color: #fafafa;
          }

          &.active{
            height: 250px;
          }
        }

        div.toggleBox {
          box-sizing: border-box;
          width: 100%;
          height: 0;
          overflow: hidden;
          background-color: #f6f6f6;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          transition: 0.3s;

          &.active{
            height: 230px;
          }

          div.toggleBoxTitle {
            font-size: 14px;
            padding-top: 12px;
          }

          div.toggleBoxCount {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;

            div.toggleBoxIcon {
              width: 36px;
              height: 36px;
              background-color: #bbbbbb;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 24px;
              color: #7f7f7f;
              cursor: pointer;
            }

            .toggleBoxNum {
              font-size: 68px;
              font-family: NanumSquareOTFExtraBold;
            }
          }

          div.toggleBoxTip {
            padding: 12px;
            border-top: 1px solid #e9e9e9;

            div.tipBadge {
              display: inline-flex;
              border-radius: 4px;
              padding: 3px 10px;
              background-color: #000;
              color: #00ee8f;
              font-weight: 700;
              font-size: 12px;
              margin: 0 8px 8px 0;
            }

            div.tipInfo {
              font-size: 14px;
              line-height: 1.5em;
              word-break: keep-all;
            }
          }
        }

        div.hideToggleBox {
          height: 0;
          overflow: hidden;
          transition: 0.3s;
        }
      }

      div.aILearningTesterButtonBox {
        width: 100%;
        background-color: #fff;
        box-sizing: border-box;
        position: relative;

        div.buttonCon {
          width: 100%;
          height: 84px;
          padding: 12px;
          box-sizing: border-box;
          font-family: NanumSquareOTFExtraBold;

          button{
            all: unset;
            width: 100%;
            height: 60px;
            background-color: #ff8000;
            border-radius: 4px;
            color: #fff;
            text-align: center;
            font-size: 18px;
            transition: 0.4s;
            cursor: pointer;
            padding: 0 12px;
            box-sizing: border-box;
          }

          button.startButton {
            background-color: #ececec;
            color: #f7f7f7;
          }

          button.testButton {
            background-color: #ececec;
            color: #c5c5c5;
            position: relative;
          }

          button.testIngButton {
            width: 100%;
            height: 60px;
            position: relative;
            overflow: hidden;

            &:before {
              content: '학습중';
              position: relative;
              z-index: 2;
            }
          }

          div.movingBarCon {
            width: 100%;
            height: 60px;
            background-color: #ffe9d2;
            border-radius: 4px;
            position: relative;
            top: -60px;
            overflow: hidden;

            div.movingBar {
              width: 20%;
              height: 60px;
              background-color: #ff8000;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              animation: move2 1.5s infinite;
            }
          }
        }

        div.completeBtnCon{
          width: 100%;
          height: 84px;
          padding: 12px;
          box-sizing: border-box;
          font-family: NanumSquareOTFExtraBold;
          button.testCompleteButton{
            all: unset;
            width: 100%;
            height: 60px;
            background-color: #00EE8F;
            border-radius: 4px;
            color: #1C2226;
            text-align: center;
            font-size: 18px;
            transition: 0.4s;
            cursor: pointer;
            padding: 0 12px;
            box-sizing: border-box;
          }
        }

        div.addColor {
          background-color: #f6f6f6;
        }
      }
    }
  }
}

@keyframes move2 {
  0% {
    width: 20%;
    left: -20%;
    opacity: 0.4;
  }
  50% {
    width: 100%;
    left: 0;
    opacity: 0.7;
  }
  100% {
    width: 100%;
    left: 100%;
    opacity: 1;
  }
}
