div.aITesterReclassifyCamContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(226, 229, 230, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;

  div.aITesterReclassifyBox {
    width: 508px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div.aITesterReclassifyCamBox {
      width: 100%;
      min-height: 300px;
    }

    div.aITesterReclassifyCamButton {
      width: 100%;
      display: flex;
      justify-content: end;
      padding: 12px;
      box-sizing: border-box;

      button {
        all: unset;
        height: 40px;
        border-radius: 4px;
        padding: 0 12px 0 16px;
        background-color: #ff8000;
        color: #fff;
        font-family: NanumSquareOTFBold;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    div.aITesterReclassifyImgBox {
      width: 100%;
      display: flex;
      position: relative;
      margin: 4px;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;

      div.aITesterReclassifyImg {
        min-width: 76px;
        width: 76px;
        height: 76px;
        position: relative;
        margin: 4px;

        img {
          width: 100%;
        }

        div.imgClassHoverEvent {
          width: 76px;
          height: 76px;
          background-color: rgba(0, 0, 0, 0.6);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;

          &:hover {
            opacity: 1;
          }

          i {
            color: #fff;
            position: absolute;

            &:first-child {
              top: 4px;
              right: 4px;
            }

            &:last-child {
              bottom: 4px;
              left: 4px;
            }
          }
        }

      }
    }

    div.aITesterReclassifyInfo {
      width: 100%;
      background-color: #f6f6f6;
      min-height: 44px;
      padding: 12px;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      i {
        opacity: 0.3;
        font-size: 24px;
        margin-right: 5px;
      }
    }

    div.range {
      width: 100%;
      min-height: 100px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 20px;
      box-sizing: border-box;

      div.field {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;

        div.sliderValue{
          width: 45px;
          height: 25px;
          border-radius: 4px;
          position: absolute;
          top: -30px;
          left: 0;
          z-index: 9;
          background-color: #ff8000;
          color: #fff;
          text-align: center;
          line-height: 25px;
        }

        input {
          -webkit-appearance: none;
          width: 100%;
          height: 8px;
          background: #ececec;
          border-radius: 5px;
          outline: none;
          border: none;
          z-index: 2222;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background: #ff8000;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }

      ul.rangeNumBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 14px;

        li {
          font-family: NanumSquareOTFBold;

          &:hover {
            color: #ff8000;
          }
        }
      }

    }

    div.aITesterReclassifyButtons {
      width: 100%;
      padding: 12px;
      box-sizing: border-box;
      display: flex;
      justify-content: end;

      button {
        all: unset;
        padding: 10px 15px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        font-family: NanumSquareOTFBold;
        cursor: pointer;
        transition: 0.3s;

        i {
          margin-right: 5px;
          font-size: 24px;
        }
      }

      button.reclassifyCloseBtn {
        background-color: #cccccc;
        color: #7f7f7f;

        i {
          color: #7f7f7f;
        }
      }

      button.reclassifyCheckBtn {
        background-color: #ff8000;
        color: #fff;
        margin-left: 10px;

        i {
          color: #fff;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}