div.dataAITesterActivateContainer {
  width: 240px;
  padding: 200px;

  div.dataAITesterActivateTitle {
    font-size: 24px;
    font-family: NanumSquareOTFBold;
    margin-bottom: 20px;
  }

  div.dataAITesterActivateBoxTop {
    margin-bottom: 24px;
    background-color: #fff;
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.16);

    div.dataAITesterActivateBoxTopImg {
      width: 100%;
      height: 124px;

      img {
        width: 100%;
      }
    }

    div.dataAITesterActivateBoxTopButton {
      width: 100%;
      padding: 12px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;

      button {
        all: unset;
        width: 100%;
        height: 60px;
        background-color: #ff8000;
        color: #fff;
        border-radius: 4px;
        font-family: NanumSquareOTFBold;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  div.dataAITesterActivateBoxBottom {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.16);

    div.dataAITesterActivateBoxBottomTitle {
      height: 64px;
      padding: 12px;
      font-size: 18px;
      font-family: NanumSquareOTFBold;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ececec;
    }

    div.dataAITesterActivateBoxBottomTxt {
      width: 100%;
      height: 248px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.dataAIResultBox{
      width: 100%;
      height: 100%;
      background-color: #ff8000;
      ul.boxBottomList {
        width: 100%;
        display: flex;
        li{
          padding: 0 6px;
          box-sizing: border-box;
        }
      }
    }

    div.dataAITesterActivateBoxBottomButton {
      width: 100%;
      padding: 12px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      border-top: 1px solid #ececec;

      button {
        all: unset;
        width: 100%;
        height: 60px;
        background-color: #ccc;
        color: #919191;
        border-radius: 4px;
        font-family: NanumSquareOTFBold;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}