div.dataUploaderContainer {
  width: 1072px;

  div.dataUploaderBox {
    width: 100%;
    min-height: 684px;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;

    div.dataUploaderBoxContent {
      width: 1018px;
      min-height: 632px;
      height: 100%;
      border: 2px dashed #d9d9d9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        border: 2px dashed #ff8000;
      }

      div.dataUploaderBoxAnim {
        width: 136px;
        height: 96px;
        overflow: hidden;

        img {
          position: relative;
        }
      }

      &:hover img {
        animation: add_data_a 0.2s steps(9) forwards;
      }


      div.dataUploaderTextBox {
        margin: 20px 0;

        span {
          font-size: 18px;
          font-family: NanumSquareOTFBold;
        }

        span.dataUploaderTextColor {
          color: #ff8000;
        }

      }

      div.dataUploaderInfo {
        font-size: 12px;
        color: #afafaf;
        font-family: NanumSquareOTFBold;
        margin-top: -5px;
        margin-bottom: 20px;
      }

      button {
        all: unset;
        background-color: #ff8000;
        color: #fff;
        padding: 0 16px 0 12px;
        height: 40px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-family: NanumSquareOTFBold;
        vertical-align: middle;

        i {
          color: #fff;
          vertical-align: middle;
        }
      }

    }

  }
}


@keyframes add_data_a {
  0% {
    object-position: 0px;
  }
  100% {
    object-position: -1224px;
  }
}
