div.dataUploadFileTableContainer {

  div.dataUploadFileTableBox {
    width: 1072px;
    height: 643px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    position: relative;

    div.dataUploadFileTableBoxLeft {
      width: 50%;
      position: relative;
      border-right: 1px solid #ececec;
      box-sizing: border-box;

      div.dataUploadFileTableBoxLeftCon {
        width: 100%;
        height: 64px;
        padding: 0 12px 0 16px;
        box-sizing: border-box;
        border-bottom: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.tableBoxLeftConTitle {
          width: 100%;
          display: flex;
          align-items: center;
          font-size: 18px;
          font-family: NanumSquareOTFBold;

          i {
            color: #7f7f7f;
            padding-right: 12px;
          }

          input{
            all: unset;
            width: 100%;
            height: 64px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 12px 0 16px;
            box-sizing: border-box;
          }
        }
      }

      div.tableBoxLeftDataBox {
        width: 100%;
        height: calc(100% - 108px);
        position: relative;
        display: flex;
        align-items: center;

        div.dataTable {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: scroll;

          table {
            min-width: 100%;
            border-collapse: collapse;
            font-size: 12px;

            tr {
              height: 40px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #ececec;

              td {
                padding: 0 16px;
              }
            }

            tr.dataTableFixData {
              td {
                font-family: NanumSquareOTFBold;
              }
            }
          }
        }
      }

      div.bottomInfo {
        width: 100%;
        min-height: 42px;
        background-color: #f6f6f6;
        font-size: 12px;
        display: flex;
        align-items: center;
        padding: 12px;
        box-sizing: border-box;
        opacity: 0.8;

        span:nth-child(2) {
          padding: 0 5px;
        }

      }

    }
  }

  div.tableBoxRight {
    width: 50%;
    position: relative;

    div.tableBoxRightTitle {
      width: 100%;
      height: 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ececec;
      padding: 0 12px 0 16px;
      box-sizing: border-box;

      div.tableBoxRightConTitle {
        font-family: NanumSquareOTFBold;
      }
    }

    div.rightDataBoxCon {
      width: 100%;
      height: calc(100% - 108px);
      display: flex;
      justify-content: space-between;

      div.rightDataBoxLeft {
        width: 50%;

        div.tableBoxRightDataBox {
          width: 100%;
          height: 100%;

          div.rightDataBoxLeftCon {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: space-between;
            padding: 0 12px;
            box-sizing: border-box;
            border-bottom: 1px solid #ececec;

            i {
              color: #c9c9c9;
            }

            div.rightDataBoxLeftConTitle, div.rightDataBoxLeftInfo {
              display: flex;
              align-items: center;
              font-size: 12px;
              font-family: NanumSquareOTFBold;
            }
          }

          div.rightDataBoxLeftTable {
            width: 100%;
            height: calc(100% - 40px);
            position: relative;
            overflow: scroll;

            table {
              min-width: 100%;
              border-collapse: collapse;
              font-size: 12px;

              tr {
                width: 100%;
                height: 40px;
                border-bottom: 1px solid #ececec;

                td {
                  padding: 0 16px;
                  display: flex;
                  align-items: center;
                  line-height: 40px;

                  div.checkBtn {
                    width: 15px;
                    height: 15px;
                    border: 2px solid #c9c9c9;
                    border-radius: 50%;
                    margin-right: 10px;
                  }

                  input {
                    width: 1px;
                    height: 1px;
                    border: 0;
                    clip: rect(0 0 0 0);
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    white-space: nowrap;
                  }
                }
              }
            }
          }

        }
      }

      div.rightDataBoxMid {
        width: 95px;
        background-color: #f6f6f6;

        div.rightDataBoxMidCon {
          width: 100%;
          height: 81px;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            all: unset;
            width: 28px;
            height: 28px;
            border-radius: 4px;
            background-color: #fff;
            font-size: 20px;

            i {
              color: #c9c9c9;
            }
          }

          .leftArrow {
            margin-right: 8px;
          }
        }

        div.rightDataBoxMidBottom {
          height: calc(100% - 81px);
        }
      }

      div.rightDataBoxRight {
        width: 50%;
        height: 100%;

        div.rightDataBoxRightCon {
          width: 100%;
          font-size: 12px;

          div.rightConTitle {
            width: 100%;
            height: 40px;
            padding: 0 12px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #ececec;
            border-bottom: 1px solid #ececec;

            div.rightConTitleLeft {
              display: flex;
              align-items: center;

              span {
                font-family: NanumSquareOTFBold;
              }
            }

            div.rightConTitleRight {
              display: flex;
              align-items: center;
            }
          }

          div.rightConBottom {
            width: 100%;
            height: 40px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #7f7f7f;
            font-family: NanumSquareOTFBold;
          }

        }
      }
    }

    div.bottomInfo {
      width: 100%;
      min-height: 42px;
      background-color: #f6f6f6;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 12px;
      box-sizing: border-box;
    }

  }

  button.dataUploadBtn {
    all: unset;
    height: 40px;
    padding: 0 16px 0 12px;
    background-color: #ffe9d2;
    border-radius: 4px;
    color: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #ff8000;
      color: #fff;

      i {
        color: #fff;
      }
    }

    i {
      color: #ff8000;
      margin-right: 5px;
    }

    &:hover {
      background-color: #ff8000;
      color: #fff;

      i {
        color: #fff;
      }
    }
  }

  span.colorTxt {
    color: #ff8000;
    font-family: NanumSquareOTFBold;
  }

  i.playIcon {
    margin-right: 5px;
    color: #c9c9c9;
  }

  i.helpIcon {
    margin-left: 5px;
    color: #c9c9c9;
  }

}