div.imgUploaderContainer {
  position: relative;
  //width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div.imgUploaderBox {
    width: 454px;

    div.imgUploaderBoxTop {
      width: 100%;
      display: flex;
      align-items: center;

      div.imgUploaderTitle {
        font-size: 24px;
        font-family: NanumSquareOTFExtraBold;
        margin-bottom: 20px;
      }
    }

    div.imgUploaderButtons {
      width: 454px;
      display: flex;
      justify-content: end;
      box-sizing: border-box;

      div.imgUploadButton {
        padding: 0 20px;
        height: 40px;
        background-color: #fff;
        color: #1C2226;
        font-size: 14px;
        font-weight: bold;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 5px;
      }
      
      div.imgUploadButtonOrange {
        background-color: #ff8000;
        color: #fff;
      }
      div.imgUploadButtonWhite {
        background-color: #fff;
        color: #1C2226;
      }
    }
  }
}

