div.injectionImgDeactivateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;

  div.injectionImgDeactivateTop {
    width: 577.781px;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 40px;

    div.injectionImgDeactivateBoxTitle {
      font-size: 24px;
      font-family: NanumSquareOTFExtraBold;
      margin-bottom: 20px;
    }
  }

  div.injectionImgDeactivateBox {
    width: 577.781px;
    height: 215px;
    background-color: #fff;
    justify-content: center;
    border-radius: 4px;

    div.injectionImgDeactivateBoxTop {
      width: 100%;
      height: 64px;
      border-bottom: 1px solid #ececec;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px 0 16px;
      box-sizing: border-box;
      position: relative;

      div.injectionImgDeactivateBoxTopCon {
        display: flex;
        flex-direction: column;
        position: relative;

        div.selectBox {
          display: flex;
          justify-content: space-between;
          align-items: center;

          i {
            width: 24px;
            margin-right: 10px;
            opacity: 0.7;
          }

          div.selectBoxOption {
            width: 240px;
            height: 36px;
            padding-left: 10px;
            background-color: #eee;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      div.injectionImgDeactivateBoxTopRight {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;

        div.imgClassCount {
          margin-right: 10px;
          font-weight: unset;
          font-size: 12px;
        }

        span.imgClassSpanColor {
          color: #ff8800;
        }

        button {
          all: unset;
          height: 40px;
          padding: 0 16px 0 12px;
          margin-right: 8px;
          border-radius: 4px;
          background-color: #ececec;
          cursor: pointer;
          color: #c5c5c5;
          display: flex;
          align-items: center;

          &:last-child {
            background-color: transparent;
            margin-right: 0;
            padding: 0;

            i {
              color: #7f7f7f;
            }
          }

          i {
            color: #c5c5c5;
            font-size: 24px;
            margin-right: 4px;
            transition: 0.2s;
          }
        }

        button.deActivateIcon {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    div.injectionImgDeactivateBoxMid {
      width: 100%;
      min-height: 104px;
      max-height: 110px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ececec;

      div.injectionImgDeactivateBoxMidLeft {
        display: flex;
        position: relative;
        margin: 4px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;

        div.imgClassLeftImg {
          width: 76px;
          height: 76px;
          margin: 4px;
          position: relative;
          border: none;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      div.injectionImgDeactivateBoxMidRight {
        width: 104px;
        height: 104px;
        border-left: 1px solid #ECECEC;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        div.imgClassRightBtn {
          width: 88px;
          height: 88px;
          background-color: #ececec;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;

          path {
            color: #c5c5c5;
          }
        }
      }
    }

    div.injectionImgDeactivateBoxBottom {
      width: 100%;
      height: 46px;
      background-color: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 12px;
      }
    }
  }
}