@import "src/stylesins";
table.mediHisTable{
  width: 100%;
  border: 1px solid #195375;
  border-spacing: 0;
  color: #195375;

  .mediHisHead {
    border: 1px solid #195375;
    background: #195375;
    color: white;
    tr{
      th{
        width: auto;
        max-width: 100px;
      }
    }
  }

  .mediHisBody {
    tr {
      width: 100%;
      cursor: pointer;
      &:hover{
        @include selectGreenBg;
        td{
          color: white;
        }
      }
      td {
        //width: 40px;
        width: auto;
        max-width: 100px;
        border: 0.3px solid #195375;
        padding: 0 5px;
        text-align: center;
        //width: auto;
        @include navyFont;
        //text-overflow-ellipsis: 10;
        overflow: scroll;
        scrollbar-base-color: transparent;
        scrollbar-track-color: transparent;
        scrollbar-arrow-color: transparent;
        scrollbar-face-color: transparent;
      }
      body{ -ms-overflow-style: none; }
      ::-webkit-scrollbar { display: none; }
    }
    tr.diagRow{
      background: #195375;
      td{
        color: white;
      }
      td.diagContentTd{
        background: white;
        color: #195375;
      }
    }
  }
}
