@import '../../style/color.scss';

div.alarmPopupContainer{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  div.popupBox{
    width: 360px;
    height: 255px;
    background-color: $white;
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span.icon{
      display: block;
      width: 60px;
      height: 60px;
      margin-top: 16px;
    }
    span.txt{
      margin-top: 28px;
      font-size: 16px;
    }
    div.btnBox{
      width: 100%;
      display: flex;
      button{
        width: calc(100% - 5.33px);
        margin-top: 24px;
        &:first-child{
          margin-right: 8px;
        }
      }
    }
  }
}
