@import "../color.scss";

div.areaInfoContainer {
  width: 100%;
  height: 100%;
  display: flex;

  div.areaInfo {
    width: 100%;
    display: flex;

    div.infoLeft {
      width: 444px;
      margin-right: 16px;
      position: relative;

      &:after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #bbbbbb;
        position: absolute;
        top: 0;
        right: -16px;
      }

      div.leftBox {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div.top {

        }

        div.bottom {
          margin-left: 40px;
          margin-bottom: 32px;

          div {
            &:first-child {
              margin-bottom: 32px;
            }

            span {
              display: block;

              span.bold {
                font-size: 16px;
                font-weight: 700;
              }
            }

            div.icon {
              display: flex;
              align-items: center;

              span {
                font-size: 32px;
                font-weight: 700;
                margin-left: 12px;
              }

              span.blue {
                color: $info;
              }

              span.red {
                color: $quality-bad;
              }
            }
          }
        }
      }
    }

    div.infoRight {
      width: calc(100% - 444px);
      //height: calc(100% - 65px);
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar{
        display: none;
      }

      div.rightBox {
        //width: 100%;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        margin: 8px;
        box-sizing: border-box;

        div.areaCardWrap {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          div.areaCardBox {
            width: calc(33.33% - 5.33px);
            height: 396px;
            background-color: #fff;
            cursor: pointer;
            border-radius: 10px;
            margin-right: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            position: relative;
            transition: 0.3s;

            &:hover{
              z-index: 1;
              transform: scale(1.05);
            }

            &:nth-child(3n) {
              margin-right: 0;
            }
            //h3 {
            //  margin: 5px;
            //}

            div.titleBox {
              height: 48px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid $line;
              box-sizing: border-box;
              padding: 0 12px 0 24px;
              font-size: 18px;
              //
              //span {
              //  font-size: 18px;
              //}
            }

            div.areaContent {
              width: 100%;
              height: calc(100% - 48px);
              display: flex;
              flex-direction: column;

              div.areaTop {
                width: 100%;
                height: 160px;
                position: relative;

                div.imgBox {
                  width: 100%;
                  height: 160px;
                  overflow: hidden;

                  img {
                    width: 100%;
                  }
                }
              }

              div.areaBottom {
                width: 100%;
                height: 50%;
                border-bottom-right-radius: 8px;
                padding: 24px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                div.camBox{
                  width: 100%;
                  display: flex;
                  justify-content: space-between;

                  div.camPort {
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    span {
                      width: 22px;
                      height: 22px;
                      border-radius: 50%;
                      background-color: $black;
                      font-size: 12px;
                      font-weight: 400;
                      color: $white;
                      margin-left: 8px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }

                  div.activeBadge {
                    width: 84px;
                    height: 24px;
                    background-color: $blue-100;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    div.circle {
                      width: 12px;
                      height: 12px;
                      margin-right: 4px;
                      background-color: $blue-500;
                      border-radius: 50%;
                      opacity: 0;
                      animation: activeAni 2s ease-in infinite;

                    }
                    span {
                      font-weight: 700;
                      color: $blue-500;
                      font-size: 12px;
                    }
                  }
                }

                div.alarmBox{
                  width: 100%;
                  height: 112px;
                  background-color: $dark;
                  border-radius: 8px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  div.alarmTxt{
                    width: calc(100% - 8px);
                    height: 48px;
                    border-radius: 8px;
                    margin-left: 4px;
                    margin-bottom: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    transition: 0.3s;
                    div.alarmBtnBoxContent {
                      margin-top: 4px;
                      display: flex;
                      flex-direction: column;

                      span.alarmBtnBoxTxt {
                        display: flex;
                        align-items: center;
                        font-size: 16px;

                        p {
                          display: flex;
                          align-items: center;
                          margin-right: 8px;
                        }
                      }

                      span.green {
                        color: $success-500;
                      }

                      span.yellow {
                        color: $warning-500;
                      }

                      span.red {
                        color: $error-500;
                      }

                      div.green {
                        background-color: $success-500;
                        box-shadow: 0 0 16px $success-500;
                      }

                      div.yellow {
                        background-color: $warning-500;
                        box-shadow: 0 0 16px $warning-500;
                      }

                      div.red {
                        background-color: $error-500;
                        box-shadow: 0 0 16px $error-500;
                      }

                    }
                  }

                  div.sensingBox {
                    width: 100%;
                    display: flex;
                    padding-bottom: 4px;

                    span {
                      width: calc(50% - 6px);
                      height: 48px;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      padding: 0 16px;
                      box-sizing: border-box;
                      font-weight: 700;
                      border-radius: 8px;
                      transition: 0.3s;

                      &:first-child {
                        margin: 0 4px;
                        border: 2px solid rgba(255, 202, 43, 0.43);
                        color: $warning-500;
                        background-color: rgba(255, 202, 43, 0.1);
                        //&:hover{
                        //  background-color: $warning-700;
                        //}
                      }

                      &:last-child {
                        border: 2px solid rgba(255, 80, 61, 0.43);
                        color: $error-500;
                        background-color: rgba(255, 80, 61, 0.1);
                      }

                      p{
                        font-size: 28px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes activeAni {
  0%{
    opacity: 0.2;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}
