div.currentTimeContainer{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 40px;
  span{
    &:first-child{
      font-size: 40px;
      font-weight: 700;
      color: #878E9B;
    }
    &:nth-child(2){
      font-size: 62px;
      font-weight: 700;
      display: flex;
      p{        font-weight: 300;
      }
      span{
        font-size: 20px;
        color: #878E9B;
        margin-left: 10px;
        margin-top: 5px;
      }
    }
    &:last-child{
      font-size: 40px;
      font-weight: 700;
      display: flex;
      p{
        color: #878E9B;
      }
    }
  }
}
