@import "../color.scss";

div.detailViewContainer {
  width: 100%;
  height: 100%;
  display: flex;

  div.detailLeft {
    width: 444px;
    margin-right: 16px;
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #bbbbbb;
      position: absolute;
      top: 0;
      right: -16px;
    }

    div.leftBox {
      width: calc(100% - 16px);
      height: calc(100% - 32px);
      margin: 16px;
      display: flex;
      flex-direction: column;

      div.titleBox {
        width: 100%;
        height: 172px;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        span.subTitle {
          margin-bottom: 8px;
          color: #878E9B;
        }

        span.mainTitle {
          font-size: 28px;
          font-weight: 700;
          cursor: pointer;
        }
      }

      div.detailTabWrap {
        width: 100%;
        height: calc(100% - 172px);
        background-color: $white;
        border-radius: 8px;

        div.detailTabBox {
          width: 100%;
          height: calc(100% - 212px);
          //height: calc(100% - 212px);
          position: relative;

          input {
            display: none;
          }

          label {
            width: 50%;
            height: 48px;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #d4d4d4;
            cursor: pointer;

            &:hover {
              color: $black;
              border-bottom: 4px solid $blue-100;
            }

            &:nth-child(2) {
              border-top-left-radius: 8px;
            }

            &:nth-child(4) {
              border-top-right-radius: 8px;
            }
          }

          input:checked + label {
            color: $blue-500;
            border-bottom: 4px solid $blue-500;
          }

          select {
            width: calc(100% - 48px);
            height: 40px;
            border: 1px solid #d4d4d4;
            border-radius: 8px;
            padding: 0 12px;
            margin: 24px;
            cursor: pointer;
          }

          div.tabContent {
            width: 100%;
            height: calc(100% - 136px);
            flex: 1;
            display: none;
            box-sizing: border-box;
          }

          div.realTimeBox {
            height: calc(100% - 152px);
            box-sizing: border-box;

            div.realTimeContent {
              margin: 0 auto;
              width: calc(100% - 48px);
              height: 144px;
              display: flex;
              background-color: $dark;
              border-radius: 8px;

              div.alarmTxt {
                width: calc(60% - 4px);
                height: 144px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                margin-right: 8px;

              }

              div {
                display: flex;
                flex-direction: column;

                span.btnBoxTxt {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  font-size: 16px;

                  p {
                    display: block;
                    width: 32px;
                    height: 32px;
                    margin-bottom: 8px;
                  }
                }

                span.green {
                  color: $success-500;
                }

                span.yellow {
                  color: $warning-500;
                }

                span.red {
                  color: $error-500;
                }

                div.btnBoxLine {
                  width: 188px;
                  height: 4px;
                  background-color: pink;
                  border-radius: 8px;

                  &:first-child {
                    margin-bottom: 20px;
                  }

                  &:last-child {
                    margin-top: 20px;
                  }
                }

                div.green {
                  background-color: $success-500;
                  box-shadow: 0 0 16px $success-500;
                }

                div.yellow {
                  background-color: $warning-500;
                  box-shadow: 0 0 16px $warning-500;
                }

                div.red {
                  background-color: $error-500;
                  box-shadow: 0 0 16px $error-500;
                }

              }

              div.sensingBox {
                width: calc(40% - 4px);
                display: flex;
                flex-direction: column;
                margin-right: 4px;

                span {
                  width: 100%;
                  height: 66px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  padding: 0 8px;
                  box-sizing: border-box;
                  font-size: 14px;
                  font-weight: 700;
                  border-radius: 8px;
                  cursor: pointer;
                  margin-top: 4px;

                  &:first-child {
                    border: 2px solid rgba(255, 202, 43, 0.43);
                    color: $warning-500;
                    background-color: rgba(255, 202, 43, 0.1);
                  }

                  &:last-child {
                    border: 2px solid rgba(255, 80, 61, 0.43);
                    color: $error-500;
                    background-color: rgba(255, 80, 61, 0.1);
                  }

                  p {
                    font-size: 28px;
                  }
                }
              }
            }

            div.realTimeBox {
              width: 100%;
              margin-top: 24px;
              display: flex;
              flex-direction: column;
              padding: 0 24px;
              box-sizing: border-box;

              span {
                font-size: 16px;

                &:last-child {
                  font-size: 28px;
                  font-weight: 500;
                }
              }
            }

            div.settingBtnBox {
              width: 100%;
              height: 124px;
              display: flex;

              &.settingBtnBoxActive {
                display: none;
              }

              button {
                all: unset;
                width: 33.33%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #d4d4d4;
                border-bottom: 1px solid #d4d4d4;
                cursor: pointer;

                div.settingBtnCon {
                  width: 124px;
                  height: 92px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 8px;
                  transition: 0.3s;

                  span {
                    margin-top: 4px;
                  }

                  &:hover {
                    background-color: $blue-100;
                    color: $blue-500;
                  }
                }
              }
            }

            div.bottomBtnBox {
              width: 100%;
              height: 88px;
              padding: 24px;
              box-sizing: border-box;
              display: flex;

              &.bottomBtnBoxActive {
                display: none;
              }

              button {
                width: calc(50% - 4px);
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:first-child {
                  margin-right: 8px;
                }

                &:last-child {
                }
              }
            }
          }

          div.historyBox {
            div.sensingBox {
              width: calc(100% - 48px);
              height: 68px;
              margin: 0 auto;
              display: flex;
              box-sizing: border-box;
              background-color: $dark;
              border-radius: 8px;

              span {
                width: calc(50% - 12px);
                height: calc(68px - 16px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 16px;
                box-sizing: border-box;
                font-size: 14px;
                font-weight: 700;
                border-radius: 8px;
                margin: 8px;

                &:first-child {
                  border: 2px solid rgba(255, 202, 43, 0.43);
                  color: $warning-500;
                  background-color: rgba(255, 202, 43, 0.1);
                  margin-right: 0;
                }

                &:last-child {
                  border: 2px solid rgba(255, 80, 61, 0.43);
                  color: $error-500;
                  background-color: rgba(255, 80, 61, 0.1);
                }

                p {
                  font-size: 28px;
                }
              }
            }

            div.historyTimeBox {
              position: relative;
              padding: 24px 24px;
              box-sizing: border-box;

              div {
                display: flex;
                justify-content: space-between;

                &:first-child {
                  margin-bottom: 16px;
                }

                span {
                  &:last-child {
                    font-size: 20px;
                    font-weight: 500;
                  }

                  span {
                    margin-left: 40px;
                  }
                }
              }

              &:after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #d4d4d4;
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }

            div.alertBox {
              width: 100%;
              height: 90%;
              border-bottom: 1px solid #d4d4d4;

              div.alertContent {
                width: 100%;
                height: 100%;
                //height: 568px;
                overflow-y: auto;
                padding: 4px 24px 0 24px;
                box-sizing: border-box;

                &::-webkit-scrollbar {
                  display: none;
                }

                p {
                  width: 100%;
                  height: 32px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  cursor: pointer;

                  &:hover {
                    color: $warning-500;
                  }

                  div {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    //background-color: #0CBEF4;
                    span {
                      border-right: 0.5px solid #1E2941;
                      padding-right: 5px;
                      //border-radius: 3px;
                      margin-right: 5px;
                    }
                  }

                  span {
                    display: flex;
                    align-items: center;

                    &:first-child {
                      width: 45%;
                      //background-color: #00a000;
                    }

                    &:nth-child(2) {
                      margin-left: 4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  div.detailRight {
    width: calc(75% - 16px);
    height: 100%;

    div.rightBox {
      width: calc(100% - 16px);
      height: 100%;
      margin: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      div.iframeBox {
        //width: 1048px;
        //height: 834px;
        width: 512px;
        height: 432px;
        background-color: $white;
        border-radius: 8px;
        position: relative;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

        div.iframeTitle {
          width: calc(100% - 32px);
          height: 48px;
          font-size: 18px;
          padding: 0 16px;
          border-bottom: 1px solid $line;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          z-index: 99;
          border-radius: 8px 8px 0 0;

          &.iframeTxtColorActive {
            color: $white
          }

          div.iframeTitleLeft {
            width: 50%;
            display: flex;
            align-items: center;

            div.iframeCamNum {
              border-right: 1px solid #d4d4d4;
              padding-right: 12px;
            }

            div.iframeCamName {
              padding-left: 12px;
              font-size: 14px;
            }
          }

          span.iframeRecording {
            width: 50%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: end;
            position: relative;

            div.iframeRecordingIcon {
              display: flex;
              align-items: center;
              margin-right: 16px;

              span.iframeRecordingCircle {
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $error-500;
                margin-right: 4px;
                animation: recIcon 1.5s infinite ease-in-out;
              }
            }

            span.iframeRenewIcon {
              width: 32px;
              height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.3s;
              border-radius: 8px;
              cursor: pointer;

              &:hover {
                background-color: $blue-100;
                color: $blue-500;
              }
            }
          }
        }

        canvas {
          all: unset;
          width: 100%;
          height: calc(100% - 48px);
          position: absolute;
          outline: none;
          border: none;
          border-radius: 0 8px 8px 0;
        }

        canvas.firstCanvas {
          z-index: 1;
          //border: 2px solid #0CBEF4;
        }

        canvas.secondCanvas {
          z-index: 2;
          //border: 2px solid red;
        }

        img {
          background-color: #0CBEF4;
          border-radius: 0 0 12px 12px;
        }

        iframe {
          border: none;
        }
      }
      img {
        border: none;
      }
    }
  }
}

#menuTab1:checked ~ .realTimeBox,
#menuTab2:checked ~ .historyBox {
  display: block;
}

/* PAGENATION START*/
.paginationUl {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 0;
}

.pageLabelBtn {
  cursor: pointer;
  background-color: #1E2941;
  color: white;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  border: 1px solid #1E2941;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: white;

    &:hover {
      color: $warning-500;
    }
  }
}

.paginationLi {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #1E2941;
  margin: 0 3px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;

  a {
    color: #1E2941;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $warning-500;
    }
  }
}

.currentPage {
  cursor: pointer;
  background-color: #1E2941;
  border: 1px solid #1E2941;
  color: white;

  a {
    color: white;
  }
}

.paginationDisabled {
  border: 1px solid #1E2941;
  cursor: pointer;
  background-color: #eaeaea;

  a {
    color: #1E2941
  }
}

/* PAGENATION END*/
