@import "../color.scss";

div.detailViewContainer {
  width: 100%;
  height: 100%;
  display: flex;

  div.detailLeft {
    width: 444px;
    margin-right: 16px;
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #bbbbbb;
      position: absolute;
      top: 0;
      right: -16px;
    }

    div.leftBox {
      width: calc(100% - 16px);
      height: calc(100% - 32px);
      margin: 16px;
      display: flex;
      flex-direction: column;

      div.titleBox {
        width: 100%;
        height: 172px;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        span.subTitle {
          margin-bottom: 8px;
          color: #878E9B;
        }

        span.mainTitle {
          font-size: 28px;
          font-weight: 700;
        }
      }

      div.detailTabWrap {
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 8px;

        div.detailTabBox {
          width: 100%;
          height: calc(100% - 212px);
          //height: calc(100% - 212px);
          position: relative;

          input {
            display: none;
          }

          label {
            width: 50%;
            height: 48px;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #d4d4d4;
            cursor: pointer;
            &:nth-child(2) {
              border-top-left-radius: 8px;
            }

            &:nth-child(4) {
              border-top-right-radius: 8px;
            }
          }

          input:checked + label {
            color: $blue-500;
            border-bottom: 4px solid $blue-500;
          }

          select {
            width: calc(100% - 48px);
            height: 40px;
            border: 1px solid #d4d4d4;
            border-radius: 8px;
            padding: 0 12px;
            margin: 24px;
            cursor: pointer;
          }

          div.tabContent {
            width: 100%;
            height: calc(100% - 136px);
            flex: 1;
            display: none;
            box-sizing: border-box;
          }

          div.realTimeBox {
            div.realTimeContent {
              width: 100%;
              height: 144px;
              display: flex;
              padding: 0 24px;
              box-sizing: border-box;

              div.alarmTxt {
                width: calc(60% - 4px);
                height: 144px;
                background-color: $success-500;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                margin-right: 8px;

                span {
                  margin-top: 4px;
                }
              }

              div.green {
                background-color: $quality-good;
              }

              div.yellow {
                background-color: $warning-500;
              }

              div.red {
                background-color: $error-500;
                color: $white;
              }

              div.inactive {
                background-color: $inactive;
                color: $inactive-text;
              }

              div.sensingBox {
                width: calc(40% - 4px);
                display: flex;
                flex-direction: column;

                span {
                  width: 100%;
                  height: 68px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  padding: 0 16px;
                  box-sizing: border-box;
                  font-size: 14px;
                  font-weight: 700;
                  border-radius: 8px;

                  &:first-child {
                    margin-bottom: 8px;
                    background-color: $warning-500;
                    color: $dark;
                  }

                  &:last-child {
                    background-color: $error-500;
                    color: $white;
                  }

                  p {
                    font-size: 28px;
                  }
                }
            }
            }
            div.realTimeBox {
              width: 100%;
              margin-top: 24px;
              display: flex;
              flex-direction: column;
              padding: 0 24px;
              box-sizing: border-box;

              span {
                font-size: 16px;

                &:last-child {
                  font-size: 28px;
                  font-weight: 500;
                }
              }
            }
          }
          div.historyBox{
            div.sensingBox {
              width: 100%;
              display: flex;
              padding: 0 24px;
              box-sizing: border-box;

              span {
                width: calc(50% - 4px);
                height: 68px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 16px;
                box-sizing: border-box;
                font-size: 14px;
                font-weight: 700;
                border-radius: 8px;

                &:first-child {
                  background-color: $warning-500;
                  color: $dark;
                  margin-right: 8px;
                }

                &:last-child {
                  background-color: $error-500;
                  color: $white;
                }

                p {
                  font-size: 28px;
                }
              }
            }
            div.historyTimeBox{
              position: relative;
              padding: 24px 24px;
              box-sizing: border-box;
              div{
                display: flex;
                justify-content: space-between;

                &:first-child{
                  margin-bottom: 16px;
                }
                span{
                  &:last-child{
                    font-size: 20px;
                    font-weight: 500;
                  }
                  span{
                    margin-left: 40px;
                  }
                }
              }
              &:after{
                content: "";
                width: 100%;
                height: 1px;
                background-color: #d4d4d4;
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }
            div.alertBox{
              width: 100%;
              height: calc(100% - 212px);
              div.alertContent{
                width: 100%;
                height: 100%;
                overflow-y: auto;
                padding: 24px 24px 0 24px;
                box-sizing: border-box;
                &::-webkit-scrollbar{
                  display: none;
                }

                p{
                  width: 100%;
                  height: 32px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  cursor: pointer;

                  &:hover{
                    color: yellow;
                  }
                  span{
                    display: flex;
                    align-items: center;
                    &:first-child{
                      width: 35%;
                    }
                    &:nth-child(2){
                      margin-left: 4px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      div.settingBtnBox {
        width: 100%;
        height: 124px;
        display: flex;

        button {
          all: unset;
          width: 33.33%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-top: 1px solid #d4d4d4;
          border-bottom: 1px solid #d4d4d4;
          cursor: pointer;

          div.settingBtnCon{
            width: 124px;
            height: 92px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            transition: 0.3s;
            span {
              margin-top: 4px;
            }
            &:hover{
              background-color: $blue-100;
              color: $blue-500;
            }
          }
        }
      }

      div.bottomBtnBox {
        width: 100%;
        height: 88px;
        padding: 24px;
        box-sizing: border-box;
        display: flex;

        button {
          width: calc(50% - 4px);
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:first-child {
            margin-right: 8px;
          }

          &:last-child {
          }
        }
      }
    }
  }

  div.detailRight {
    width: calc(75% - 16px);
    height: 100%;

    div.rightBox {
      width: calc(100% - 16px);
      height: 100%;
      margin: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      div.iframeBox {
        width: 512px;
        height: 432px;
        background-color: $white;
        border-radius: 8px;
        position: relative;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

        div.iframeTitle {
          height: 48px;
          font-size: 18px;
          padding-left: 24px;
          padding-right: 24px;
          border-bottom: 1px solid $line;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
        }

        canvas {
          all: unset;
          width: 100%;
          height: calc(100% - 48px);
          position: absolute;
        }

        canvas.firstCanvas {
          z-index: 1;
        }

        canvas.secondCanvas {
          z-index: 2;
        }

        iframe {
          border: none;
        }
      }
    }
  }
}

#menuTab1:checked ~ .realTimeBox,
#menuTab2:checked ~ .historyBox {
  display: block;
}
