@import "../color.scss";

div.observeContainer {
  width: 100%;
  height: 100%;
  display: flex;

  div.observeLeft {
    width: 444px;
    margin-right: 16px;
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #bbbbbb;
      position: absolute;
      top: 0;
      right: -16px;
    }

    div.leftBox {
      width: calc(100% - 16px);
      height: calc(100% - 32px);
      margin: 16px;
      display: flex;
      flex-direction: column;

      div.titleBox {
        width: 100%;
        height: 172px;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        span.subTitle {
          margin-bottom: 8px;
          color: #878E9B;
        }

        span.mainTitle {
          cursor: pointer;
          font-size: 28px;
          font-weight: 700;
        }
      }

      div.safetyTabWrap {
        height: calc(100% - 156px);
        background: $white;
        border-bottom: 1px solid $line;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div.safetyTabBox {
          width: 100%;
          height: 48px;
          font-weight: 400;
          line-height: 48px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          label {
            width: 100%;
            color: $inactive-text;
            font-weight: 500;
            text-align: center;
            height: 100%;
            box-sizing: border-box;
            cursor: pointer;
            border-bottom: 1px solid #d4d4d4;

            &:hover {
              color: $black;
              border-bottom: 4px solid $blue-100;
            }
          }

          input {
            display: none;

            &:checked + label {
              color: $blue-500;
              border-bottom: 4px solid $blue-500;
            }
          }
        }

        div.safetyTabContainer {
          width: 100%;
          height: 100%;
          //flex: 1;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          align-items: center;

          &::-webkit-scrollbar {
            display: none;
          }

          //div.safetyContent {
          //  width: 100%;
          //  height: 284px;
          //  //padding: 24px;
          //  box-sizing: border-box;
          //  background-color: #FFF8D4;
          //}

          section.safetyContents {
            width: 100%;
            display: none;

            div.safetyCreateBtnBox {
              width: 100%;
              height: 312px;
              padding: 24px;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              //border-bottom: 1px solid #d4d4d4;
              //display: none;

              button.safetyCreateBtn {

                span {
                  margin-right: 4px;
                }
              }
            }
          }

          section.safetyContents:nth-child(1) {
            display: block;
          }

        }
      }

      div.bottomBtnBox {
        width: 100%;
        height: 88px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: $dark;
        border-top: 1px solid $line;
        box-sizing: border-box;
        position: relative;

        div.recordBtnBox {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          button.recordBtn {
            all: unset;
            width: 84px;
            height: 84px;
            background-color: $dark;
            border-radius: 50%;
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover .hoverCircle {
              width: 20px;
              height: 20px;
              background-color: $error-500;
              border-radius: 50%;
            }

            div.recordBtnCircle {
              width: 48px;
              height: 48px;
              background-color: $white;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;

              &.spinnerActive {
                //border: 2px solid $dark;
                //border-top: 1px solid $error-500;
                //border-right: 1px solid rgba(0,0,0,0);
                //border-bottom: 1px solid rgba(0,0,0,0);
                //border-left: 1px solid rgba(0,0,0,0);
                //animation: spinner 1.1s cubic-bezier(0,-0.01, 0.62, 0.91) infinite;
                animation: loaderSpin 1600ms infinite;
              }
            }

            //안에 작은 네모
            div.hoverCircle {
              width: 14px;
              height: 14px;
              background-color: #979797;
              border-radius: 2px;
              position: absolute;
              transition-duration: 0.2s;

              &.hoverCircleActive {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: $error-500;
              }
            }
          }

          span.recordTxt {
            color: $white;
            display: block;
            position: absolute;
            bottom: 6px;

            &.hoverTxtActive {
              width: 26px;
              height: 26px;
              background-color: $error-500;
            }

            &.txtColorActive {
              color: $error-500;
            }
          }
        }

        div.rightBtnBox {
          width: 80px;
          height: 40px;
          position: absolute;
          top: 20px;
          right: 24px;
          display: flex;
          align-items: center;
          //justify-content: space-between;
          justify-content: end;

          button {
            all: unset;
            width: 36px;
            height: 36px;
            cursor: pointer;
            vertical-align: middle;
            color: $white;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
              content: '';
              transition: 0.3s;
              position: absolute;
              border-radius: 50%;
            }

            &:hover {
              &::after {
                position: absolute;
                width: 36px;
                height: 36px;
                background-color: rgba(255,255,255, 0.3);
              }
            }
          }

          //button{
          //  all: unset;
          //  width: 40px;
          //  height: 40px;
          //  color: $white;
          //  display: flex;
          //  justify-content: center;
          //  align-items: center;
          //  cursor: pointer;
          //}
        }
      }
    }
  }

  div.observeRight {
    width: calc(75% - 16px);
    height: 100%;

    div.rightBox {
      width: calc(100% - 16px);
      height: 100%;
      margin: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      div.iframeContent {
        //min-width: 1048px;
        width: 1048px;
        height: 888px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        //border: 2px solid #555555;
        div.iframeBox {
          width: 512px;
          height: 432px;
          background-color: $white;
          border-radius: 8px;
          position: relative;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

          div.iframeBorder {
            width: 100%;
            height: 48px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $dark;
            border-radius: 8px 8px 0 0;

            &:after {
              content: "";
              width: 512px;
              height: 384px;
              box-sizing: border-box;
              position: absolute;
              top: 48px;
              left: 0;
              border: 8px solid $dark;
              border-radius: 0 0 8px 8px;
            }
          }

          div.iframeTitle {
            width: calc(100% - 32px);
            height: 48px;
            font-size: 18px;
            padding: 0 16px;
            border-bottom: 1px solid $line;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 99;
            border-radius: 8px 8px 0 0;

            &.iframeTxtColorActive {
              color: $white
            }

            div.iframeTitleLeft {
              width: 50%;
              display: flex;
              align-items: center;

              div.iframeCamNum {
                border-right: 1px solid #d4d4d4;
                padding-right: 12px;
                &.iframeTxtColorActive {
                  color: $white
                }
              }

              div.iframeCamName {
                padding-left: 12px;
                font-size: 14px;
                &.iframeTxtColorActive {
                  color: $white
                }
              }
            }

            span.iframeRecording {
              width: 50%;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: end;
              position: relative;

              div.iframeRecordingIcon {
                display: flex;
                align-items: center;
                margin-right: 16px;

                span.iframeRecordingCircle {
                  display: block;
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                  background-color: $error-500;
                  margin-right: 4px;
                  animation: recIcon 1.5s infinite ease-in-out;
                }
              }

              span.iframeRenewIcon {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                border-radius: 8px;
                cursor: pointer;

                &:hover {
                  background-color: $blue-100;
                  color: $blue-500;
                }
              }
            }
          }

          canvas {
            all: unset;
            width: 100%;
            height: calc(100% - 48px);
            position: absolute;
            outline: none;
            border: none;
            border-radius: 0 8px 8px 0;
          }

          canvas.firstCanvas {
            z-index: 1;
            //border: 2px solid #0CBEF4;
          }

          canvas.secondCanvas {
            z-index: 2;
            //border: 2px solid red;
          }

          img {
            background-color: #0CBEF4;
            border-radius: 0 0 12px 12px;
          }

          iframe {
            border: none;
          }
        }

        .hideIframeBox {
          display: none;
        }
      }
    }
  }
}

@keyframes recIcon {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
    border-left: 2px solid rgb(255 80 61 / 1);
    border-top: 2px solid rgb(255 80 61 / 0.3);
    border-right: 2px solid rgb(255 80 61 / 1);
    border-bottom: 2px solid rgb(255 80 61 / 0.3);
    box-shadow: 0px 0px 10px 0px rgb(255 80 61 / 0);
  }
  50% {
    box-shadow: 0px 0px 80px 0px rgb(255 80 61 / 0.5);
    border-left: 2px solid rgb(255 80 61 / 1);
    border-top: 2px solid rgb(255 80 61 / 1);
    border-right: 2px solid rgb(255 80 61 / 1);
    border-bottom: 2px solid rgb(255 80 61 / 1);
  }
  100% {
    transform: rotate(720deg);
    border-left: 2px solid rgb(255 80 61 / 1);
    border-top: 2px solid rgb(255 80 61 / 0.3);
    border-right: 2px solid rgb(255 80 61 / 1);
    border-bottom: 2px solid rgb(255 80 61 / 0.3);
    box-shadow: 0px 0px 10px 0px rgb(255 80 61 / 0);
  }
}
