$camWidth: 512px;
$camHeight: 384px;
div.observeContainer {
  width: 100%;
  //height: 100%;
  display: flex;
  justify-content: center;
  //border-bottom: 1px solid #2553BD;
  //border: 1px solid #2553BD;
  padding: 50px;
  div.leftSafetyBox{
    width: 540px;
    position: relative;
    margin-right: 30px;
    p.SafetyTitle{
      font-size: 30px;
      font-weight: bold;
    }
    input.safetyTab{
      display: none;
    }
    label.safeLabel{
      display: inline-block;
      margin: 0 0 -1px;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
      color: #bbb;
      border: 1px solid transparent;
    }
    label:hover {
      color: #5940ff;
      cursor: pointer;
    }
    /*input 클릭시, label 스타일*/
    input:checked + label {
      color: #555;
      border: 1px solid #ddd;
      border-top: 2px solid #5940ff;
      border-bottom: 1px solid #ffffff;
    }
    section{
      display: none;
      div.safetyContentBox{
        display: flex;
        flex-direction: column;
        div.groupBox{
          margin-top: 20px;
          span{
            margin-right: 20px;
          }
          span.groupName{
            font-size: 25px;
            font-weight: bold;
          }
          span.saveParameter{

          }
          span.callParameter{

          }
        }
        p{
          line-height: 0;
          font-size: 18px;
          font-weight: bold;
          span.safeLevel{
            color: green;
          }
        }
        div.safetyBtnBox{
          display: flex;
          margin-bottom: 20px;
          border-bottom: 1px solid #292929;
          button.safetyBtn{
            background-color: white;
            padding: 5px;
            margin: 0 10px 10px 0;
            cursor: pointer;
          }
          button.safetyActiveBtn{
            border: 2px solid #00a000;
            color: green;
          }
          button.safetyDeleteBtn{
            border: 2px solid #292929;
          }
          button.safetyResetBtn{
            border: 2px solid #ffa600;
            color: #ffa600;
            margin-left: 20px;
          }
        }
        div.safetyCreateBtnBox{
          display: flex;
          align-content: center;
          justify-content: center;
          position: relative;
          button.safetyCreateBtn{
            padding: 4px 16px;
            cursor: pointer;
          }
        }

        div.bottomBtnBox{
          width: 100%;
          display: flex;
          justify-content: space-around;
          position: absolute;
          bottom: 30px;
          button{
            padding: 4px 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
  div.iframeContainer{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: $camWidth*2;
    height: $camHeight*2;
    box-sizing: border-box;

    div.iframeBox{
      width: $camWidth;
      height: $camHeight;
      //background-color: #006154;
      box-sizing: border-box;
      canvas.polygonCanvas{
        position: absolute;
        z-index: 2;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        width: $camWidth;
        height: $camHeight;
      }
      iframe{
        position: absolute;
        z-index: 1;
        width: $camWidth;
        height: $camHeight;
        max-width: $camWidth;
        min-height: $camHeight;
        box-sizing: border-box;
        background-color: #9cccf1;
      }
    }
  }
}

#safetyTab1:checked ~ #safetyContent1,
#safetyTab2:checked ~ #safetyContent2,
#safetyTab3:checked ~ #safetyContent3,
#safetyTab4:checked ~ #safetyContent4 {
  display: block;
}

