div.settingMain {
  width: 100%;
  height: 100%;
  min-width: 320px;
  //max-width: 800px;
  color: #555;
  margin: 0;
  box-sizing: border-box;
  background: #ffffff;

  div.settingTitle {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
    }
  }

  input.tabInput {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }

  label:hover {
    color: #5940ff;
    cursor: pointer;
  }

  /*input 클릭시, label 스타일*/
  input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #5940ff;
    border-bottom: 1px solid #ffffff;
  }

  section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;

    div {
      font-size: 20px;
      margin-left: 10px;

      span {
        margin-left: 10px;
      }

      input {
        margin-left: 10px;
        width: 500px;
        height: 30px;
      }

      select {
        margin-left: 10px;
      }

      button {
        width: 50px;
        font-size: 15px;
        background-color: #292929;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
      }

      button:hover {
        background-color: white;
        color: black;
      }

      button.off {
        display: none;
      }
    }

    div.bottomCon {
      display: flex;

      div {
        &:first-child {
          margin-right: 100px;
        }
        div{
          display: flex;
          div.toolBtnBox{
            display: flex;
            input{
              display: none;
            }
            label{
              all: unset;
              margin-left: 15px;
              position: relative;
              font-weight: lighter;
            }
            input:checked + label{
              font-weight: bold;
            }
            div{
              width: 1px;
              height: 100%;
              background-color: #292929;
              margin-left: 15px;
            }
          }
        }
    }
  }
}

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
.urlStateMap{
  width: 100%;
  border: 1px solid black;
  height: 150px;
  overflow-y: auto;
}
